*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main1{
    float: left;
    height: 100vh;
    width: 60%;
    background-image: url(image/bg-pattern-desktop.svg);
    background-color: snow;
    background-repeat: no-repeat;
}
.main2{
    float: right;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.box{
    padding-bottom: 80px;
    padding-left: 120px;
    padding-top: 30px;
}
.box1{
    padding-left: 120px;
}  
.style1{
    font-size: 80px;
    color: salmon;
    font-family: 'Josefin Sans', sans-serif;
}
.style2{
    font-size: 80px;
    font-family: sans-serif;
}
.style3{
    padding-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: salmon;
    font-size: 20px;
    padding-bottom: 30px;
}
.buttom{
    height: 50px;
    width: 400px;
    border-radius: 30px;
    border-color: salmon;
    background-color: snow;
    border-style: solid;
    text-align: left;
    padding-left: 30px;
    color: salmon;
}
.buttom2{
    height: 50px;
    width: 70px;
    border-radius: 30px;
    border: none;
    border-color: salmon;
    background-image: linear-gradient(rgb(247, 137, 155),pink);
    margin-left: -35px;
    color: white;
    font-size: 20px;
    position: absolute;
}
